
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profilim</h2>
<p>Adı: Hatice</p>
<p>Soyadı: Albayrak</p>
<p>Meslek: Yazılım Uzmanı</p>
<p>Doğum Yeri: Mardin</p>
<p>Doğum Tarihi: 17 Nisan 1997</p>